
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
.nav-side-menu {
    background-color: transparent;
    border: 1px solid #231f20;
    color: #444444;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    height: 100%;
    margin: 3px;
	min-height: 1915px;
    overflow: auto;
    padding-bottom: 10px;
    top: 0;
    width: 98%;
}
.nav-side-menu .brand {
    background-color: transparent;
    line-height: 50px;
    display: block;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
    */
}

.nav-side-menu ul *:not(collapsed) .arrow::before, .nav-side-menu li *:not(collapsed) .arrow::before {
    content: "\f078";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 8px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
/*.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}*/
.nav-side-menu ul .active,
.nav-side-menu li .active {
    /*border-left: 3px solid #d19b3d;
    background-color: #4f5b69;*/
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    /*background-color: #181c20;
    border-bottom: 1px solid #23282e;*/
    border: none;
    line-height: 28px;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li > a:hover,
.nav-side-menu li .sub-menu li > a:hover {
    color: #000;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
	padding-left: 35px;
}
.nav-side-menu li {
    padding-left: 0px;
    /*border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;*/
}
.nav-side-menu li a {
    text-decoration: none;
    color: #444444;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    /*border-left: 3px solid #d19b3d;
    background-color: #4f5b69;*/
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
	.menu-list {
    border-bottom: 1px solid #323232;
    margin: 10px;
}
	.nav-side-menu li {
    border-top: 1px solid #323232;
}
	.custom-row {
    margin-right: -6px!important;
}
	.search {
    display: none;
}
	.nav-pdng {
    margin-right: 6px;
}
	
	img.logo {
    display:none;
}
img.nav-logo {
    padding: 5px;
	display:block!important;
	width: 60px;
}
	
    .nav-side-menu {
    background: #222222;
    margin: 0;
    position: relative;
    width: 100%;
	min-height: 120px;
}

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 32px;
        z-index: 10 !important;
        padding: 3px;
        background-color: transparent;
        color: #fff;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
	
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
	
}

@media (max-width: 768px) {


}
img.nav-logo {
    display:none;
}
body {
    margin: 0px;
    padding: 0px;
}
.custom-row {margin-left: 0px;
    margin-right: 0;}
	.nav-pdng {
		padding-left: 0;
		padding-right: 0;
	}
img.logo {
    max-height: 230px;
    padding: 10px 10px 30px;
}

form.srch-form {
    text-align: center;
}
.srch-box {
    border: 1px solid #662046;
    border-radius: 5px;
    box-shadow: 0 0 3px;
    color: #662046;
    display: inline-block;
    font-weight: 700;
    margin: 15px 1px 40px;
    padding: 10px;
}
.src-btn {
    background: url(../images/src-btn.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 0 none;
    float: right;
    position: relative;
    right: 20px;
    top: -67px;
}
.content {
    margin-right: 3px;
    position: relative;
}
.col-md-10.main-cntn {
    margin-top: 3px;
    padding: 0;
}
.top-home-con {
    background: #f0f0f0;
    margin-bottom: 3px;
    padding: 5px 0;
}
.edward-cntn {
    font-size: 14px;
    padding: 20px 15px 10px;
}

.slider .indicators {
    z-index: 999;
}
.slider .slides {
    height: 450px;
}
h3.upcmng-evnt {
    color: #121212;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 1px 1px 2px #fff;
}
h4.evnt-title {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 30px;
}
.evnt-btn {
    background: #707070;
    color: #fff;
    font-size: 20px;
    font-variant: all-small-caps;
    padding: 15px;
    text-decoration: none;
}
.evnt-btn:hover {
    background: #5b5b5b;
    color: #fff;
    text-decoration: none;
}
.col-md-12.home-brdcmb {
    background: #efefef;
    height: 35px;
    margin: 3px 0;
    width: 100%;
}
.home-brdcmb span {
    border-radius: 0 19px 19px 0;
    border-right: 2px solid #ffffff;
    box-shadow: 2px 0 0 #cbcbcb;
    color: #747474;
    font-variant: all-small-caps;
    height: 30px;
    line-height: 34px;
    padding: 10px 15px 10px 5px;
}
.upcmg-evnt-section {
    background: #cfcfcf;
}
.upcmg-evnt-section h2 {
    font-variant: all-small-caps;
    margin-bottom: 0;
    padding: 0;
	color:#010101;
}
.img-thumbnail.evnt-thumb {
    box-shadow: 3px 4px 12px #5b5b5b;
    margin-bottom: 20px;
    padding: 2px;
}
.evnt-description {
    color: #000;
    font-size: 13px;
}
.read-more-home {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}
.col-md-12.social-nd-vdo {
    margin-top: 3px;
    padding: 0;
}
.col-md-5.scl-home, .col-md-8.testimonial-section, .col-md-12.home-slider, .col-md-12.testimonial-nd-tag-section, .col-md-7.vdo-home {
    padding: 0;
} 
.scl-home iframe {
    width: 100%;
}
.col-md-4.tag-cloud {
    box-sizing: border-box;
    height: 300px;
    padding: 0 0 0 5px;
}
.tagcloudMain {
    background: #dadada none repeat scroll 0 0;
    min-height: 300px;
    padding: 15px 10px;
    text-align: justify;
}
.tagsC a {
    text-decoration: none;
	padding: 0 5px;
}
.tagsC a:focus, .tagsC a:hover {
    color: #fff;
}
.tg-tyle-1 {
    color: #373737;
    font-size: 18px;    
}
.tg-tyle-2 {
    color: #909090;
    font-size: 20px;
}
.tg-tyle-3 {
    color: #1a1a1a;
    font-size: 22px;
}
.tg-tyle-4 {
    color: #000000;
    font-size: 26px;
    font-weight: 600;
}

.col-md-8.testimonial-section {
	background-image: url("../images/testimonial-bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
	min-height: 300px;
    padding: 16px 0 0;
}
.tagcloud_header h4 {
    color: #880e4f;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    position: relative;
    text-transform: uppercase;
}
.tagcloud_header {
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}
/*===================*/
.testimonial {
    margin: 0 auto;
    max-width: 550px;
}
.testimonial .description {
    border: 1px solid #ffffff;
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    padding: 20px 10px;
    position: relative;
    text-align: center;
}
.testimonial .description::after {
    border-color: #ffffff;
    border-style: none none solid solid;
    border-width: 0 0 1px 1px;
    bottom: -16px;
    content: "";
    height: 30px;
    left: 20%;
    position: absolute;
    transform: skewY(-45deg);
    width: 30px;
}
.testimonial .pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin:20px 30px;
    display: inline-block;
    float: left;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .testimonial-title{
    display: inline-block;
    text-transform: capitalize;
    margin-top: 35px;
}
.testimonial .testimonial-title span {
    color: #000000;
    display: block;
    font-size: 17px;
    font-variant: all-small-caps;
    font-weight: bold;
    margin-bottom: 10px;
}
.testimonial .testimonial-title small{
    display: block;
    font-size:14px;
}
.owl-theme .owl-controls{
    position: absolute;
    bottom: 10%;
    right: 10px;
}
.owl-theme .owl-controls .owl-buttons div{
    border-radius: 0;
    background:#000;
    padding: 3px 8px;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: 'FontAwesome';
    color: #fff;
}
.owl-next:before{
    content: "\f054";
}
@media only screen and (max-width: 767px){
    .testimonial .description{
        font-size: 14px;
    }
    .testimonial .description:after{
            left: 14%;
    }
}
@media only screen and (max-width: 479px){
    .owl-theme .owl-controls{
        bottom: 0;
    }
    .testimonial .description:after{
        left: 18%;
    }
}

.subscriber-title {
    text-align: center;
}
.col-md-12.subscriber-section {
    background-image: url("../images/subscriber-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 0;
    min-height: 250px;
    padding: 25px;
}
.subscriber-title > h4 {
    color: #000;
    font-size: 30px;
    margin: 40px auto 20px;
    max-width: 600px;
    width: 100%;
}
.subscriber-form {
    padding: 20px;
    text-align: center;
}
.subscriber-form input[type="text"] {
    background: #ededed;
    border: 2px solid #6f6e6a;
    color: #343434;
    font-size: 15px;
    min-width: 250px;
    padding: 3px 10px;
}
.subscriber-form input[type="submit"] {
    background: #454545 none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    margin: 0 5px;
    min-width: 80px;
}
.col-md-12.footer-section {
    background: #707070;
    margin: -3px 0 3px;
    min-height: 117px;
    padding: 0;
}
.col-md-4.clients-logos img {
    margin: 10px;
    max-width: 100px;
}
.social-logos i {
    color: #ddd;
    font-size: 20px;
    padding: 10px;
}
.col-md-3.social-logos {
    bottom: -48px;
    text-align: right;
}


    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }


/*

 New CSS Made by Hassan Rashed 

*/

.social-content {
	padding: 15px;
}
.social-pic img {
  border: 2px solid #E5E5E5;
}
.social-pic-detail h4 {
  color: #616161;
    margin-top: 20px;
font-size: 20px;
}
.social-pic-detail h4 span {
  display: block;
  font-size: 80%;
  margin-top: 10px;
    color: #90949C;
}
.social-down-arrow i {
	margin-top: 30px;
	color: #90949C;
}


.social-txt p {
  font-size: 16px;
  color: #242a34;
}
.social-comment-box p {
  float: left;
  margin-right: 10px;
    color:#4b4f56;
}
.social-comment-box {
  padding: 20px 0;
  border-top: 2px solid #e5e5e5;
  margin-top: 20px;
}



/*-------------------------------------Book MakerLab Page CSS----------------------------------*/


.book-mark-contact {
  margin-top: 90px;
}
.book-cont-txt {
  color: #880e4f;
  margin-bottom: 30px;
}

.book-mark-contact input, .book-mark-contact textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #A8A8A8;
  color: #000;
    background: #CFCFCF;
}
.book-mark-contact input {
  height: 55px;
  margin-bottom: 30px;
}
.book-mark-contact textarea {
  height: 160px;
  resize: none;
    margin-bottom: 40px;
}

.book-maker-lab-section .row {
  margin: 0;
}
.book-mark h3 {
  font-size: 35px;
  margin-top: 60px;
  margin-bottom: 30px;
}


a.box-btn {
  display: block;
  float: right;
  padding: 15px 25px;
  margin-bottom: 40px;
  background: #5B5B5B;
  color: #fff;
  text-decoration: none;
}
.book-maker-lab-section {
	background: #CFCFCF;
}




/*-------------------------------------EDUSA Page CSS----------------------------------*/

.join-workshop {
	background: #CFCFCF;
}
.edu-workshop-form select, 
.edu-workshop-form input {
  width: 100%;
  height: 40px;
  padding: 10px;
    border-radius: 3px;
    border: 1px solid #BCBCBC;
}
.section-title h3 {
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 80px;
    margin-left: 15px;
    margin-top: 3px
}
.edu-workshop-form {
  margin-top: 80px;
}

.join-workshop .row {
  margin: 0;
}
.edu-work-input-frm {
  margin-bottom: 30px;
}


.edu-work-input-frm span {
  display: block;
}
.edu-work-input-frm textarea {
  width: 100%;
  resize: none;
  border-radius: 3px;
  border: 1px solid #BCBCBC;
  height: 145px;
}
/*-------------------------------------Event Calender Page CSS----------------------------------*/
.event-calender{
    background-color: #CFCFCF;
    margin-top: 3px;
}
.event-calender .row{
    margin: 0;
}
.event-calender iframe{
    width: 100%;
    height: 550px;
    margin-top: 15px;
}

.events-info {
  margin-top: 61px;
  margin-left: 15px;
}
.events-info h4 {
  border: 1px solid #dedede;
  padding: 5px;
  margin-bottom: 20px;
}

/*-------------------------------------Event Aticle Page CSS----------------------------------*/

.all-event-article {
	background-color: #CFCFCF;
}
.single-event-article .row {
  margin: 0;
}
.single-event-article {
  padding: 20px;
  border: 1px solid #000;
  margin:0 30px;
}
.event-article {
 padding: 20px 0;
}
.eve-cont-article h3 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
}
.article-event-catagory span {
  display: block;
    background-color: #707070;
    border-top: 5px solid #fff;
    font-size: 80%;
}
.article-event-catagory h5 {
  font-size: 18px;
  background: #880E4F;
  color: #fff;
}

.article-event-date h2 {
  font-size: 80px;
  background: #707070;
  color: #fff;
  display: inline-block;
}

.article-event-date {
  text-align: center;
}

.article-event-catagory h5 {
  transform: rotate(-90deg);
  margin-top: 42px;
  font-size: 18px;
    text-align: right;
}
.article-event-date span {
  display: block;
  font-size: 25%;
  color: #000;
  background: #CFCFCF;
  padding-top: 5px;
}
.article-event-catagory {
	width: 128px;
	margin-top: -18px;
	margin-left: -43px;
}

a.nxt-btn {
  text-decoration: none;
  color: #818181;
  padding: 15px 0;
  display: block;
}
.article-btn .col-md-6 {
	background: #CFCFCF;
}
/*-------------------------------------EVENT INVITATION Page CSS----------------------------------*/
.invite-article h5 {
	margin-top: 52px;
}

.all-event-article .section-title,
.event-current-invitation .section-title {
	margin-left: 15px;
}

a.apply-btn {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-size: 30px;
	font-weight: bold;
	border: 1px solid #880e4f;
	padding: 15px 25px;
	display: inline-block;
	margin-top: 40px;
}

.invitation-type h5 {
  font-weight: bold;
  font-size: 16px;
}
.invitation-type h5 span {
  font-weight: normal;
  font-size: 14px;
}
.invitation-content h4 {
  font-weight: bold;
  margin-bottom: 15px;
}
.invitation-txt h5 {
  width: 20%;
  float: left;
  font-size: 16px;
  font-weight: bold;
}
.invitation-txt p {
  width: 80%;
  float: right;
  margin-top: 10px;
}


/*-------------------------------------Grants Application Page CSS----------------------------------*/

.grants-apply-content {
	overflow: hidden;
}


/*-------------------------------------Job Application Page CSS----------------------------------*/

.job-box-title h4 {
	font-size: 30px;
}
.single-job .row {
  margin: auto 0;
  border: 1px solid #000;
  padding-top: 40px;  
}
.jobvacancy {
  background-color: #CFCFCF;
}
.single-job {
  padding: 50px;
}
.jobvacancy .section-title {
  margin-bottom: 46px;
}
.single-job-left-txt h5 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;  
}
.job-apply-btn a.box-btn {
	float: left;
	margin-left: -15px;
}
a.detail-btn {
  color: #A0537B;
  font-weight: bold;
  margin-top: 15px;
  display: block;
  text-decoration: none;
}
.job-apply-btn {
	overflow: hidden;
	margin-top: 55px;
}

/*-------------------------------------Job Application FOrm Page CSS----------------------------------*/

.margin-zero{
    margin: 0;
}
.margin-zero-a{
    margin:auto 0;
}
.padding-zero{
    padding: 0;
}
.padding-30{
    padding: 30px 0;
}
.single-apply-form form {
  margin: 50px;
  border: 1px solid #fff;
  padding: 20px;
}
.job-apply-form {
  background: #CFCFCF;
  padding: 10px;
}
.single-apply-form form .row {
  margin: 0;
  padding: 0;
}
.apply-form-title span {
  color: red;
}
.job-apply-form-box select {
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
}
.job-apply.form-box input[type="text"], .job-apply.form-box input[type="email"], .job-apply.form-box input[type="date"], .job-apply.form-box input[type="url"] {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.job-apply.form-box input[type="radio"] {
	margin-bottom: 20px;
	a: ;
}



/*-------------------------------------Stay Update Page CSS----------------------------------*/


.stay-dupdate {
  background-color: #CFCFCF;
  padding: 40px;
}
.single-update .row {
  margin: auto 0;
}
.single-update {
  background: #808080;
  padding: 30px;
  padding-top: 30px;
  margin-top: 40px;
  padding-top: 40px;
  margin-bottom: 150px;  
}
.subscribe-form input[type="text"], .subscribe-form input[type="email"], .subscribe-form input[type="submit"] {
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
}
.subscribe-form input[type="text"], .subscribe-form input[type="email"] {
  padding: 0 10px;
}
.subscribe-form input[type="submit"] {
  border: 2px solid #fff;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
}
.stay-content {
  color: #fff;
}
.stay-content h4 {
  font-size: 22px;
}
.stay-content p {
  font-size: 16px;
}


/*-------------------------------------Our Team Page CSS----------------------------------*/


.our-team {
  background: #CFCFCF;
}
.single-team-border {
  margin: 30px;
  border: 1px solid #000;
  padding: 10px;
}
.single-team {
  margin:15px 30px;
  padding: 10px;
}

.team-menu ul {
  margin: 0;
  padding: 0;
}
.team-menu li {
  display: inline-block;
 
}
.team-menu li a {
  color: #828282;
  text-decoration: none;
     padding: 5px 10px;
  border: 1px solid #828282;
}
.team-menu i.fa {
  margin: 0 5px;
}
.team-menu {
  margin: 30px 0;
}

/*-------------------------------------Programming Tour Page CSS----------------------------------*/
.program-tour {
  background: #CFCFCF;
}
.single-toir .padding-zero {
  background: #CFCFCF;
  padding: 25px;
}
.single-tour-txt h4 {
	color: #890E4F;
}



/*-------------------------------------Photo Gallery Page CSS----------------------------------*/

.gallery-menu ul {
    margin: 20px 0;
    padding: 0;
}

.gallery-menu li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #890E4F;
    color: #890E4F;
    cursor: pointer;
}


#gallery a{
  width:100%;
  height:auto;
    display: inline-block;
}
.card{
  width:100%;
  height:auto;
  margin: 4% auto;
  box-shadow:-3px 5px 15px #000;
  cursor: pointer;
}
.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.modal-body{
  padding:0px;
}

/*-------------------------------------Event Article Page Modal CSS----------------------------------*/
.single-event-article {
    cursor: pointer;
}
body.modal-open .modal {
    width: 100%;
    height: 650px;
    background: transparent;
    margin: 0;
    padding-bottom: 100%;
}
.blog-img img {
    width: 100%;
    height: 350px;
}

.blog-modat-title h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.modal-detal-blog-txt {
    margin-top: 35px;
}

.modal-detal-blog-txt
  h4 {
    margin-top: 0;
    margin-bottom: 7px;
    font-weight: bold;
}

.modal-detal-blog-txt
 span {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}
.model-to-reg a {
    text-decoration: none;
    color: #800C48;
    margin-right: 20px;
    margin-top: 35px;
    display: block;
    font-weight: bold;
}

/*-------------------------------------EDUSA Page CSS----------------------------------*/

